body {
	background: url('bg.gif');
	background-repeat: repeat;
}

#answer {
	display: table-cell; 
  	vertical-align: middle; 
  	text-align: center;
	z-index: 1;
	font-size: 0.6em;
	font-family: Helvetica;
	color: white;
}

#eightball{
	float:right;
	position: absolute;
	z-index: 1;
	width: 100%;
}

#img {
	width: 100%;
	position: absolute;
}

#leftText {
	z-index: -3;
	font-size: 0.6em;
	font-family: Helvetica;
	color: white;
	font-size: 2em;
	position: absolute;
	padding-top:20%;
	padding-left: 2%;
	text-shadow: #EEEE00 0 0 10px;
	filter: glow(color=#EEEE00,strength=3);

}

#container {
	position: absolute; 
  	display: table;
  	background-color: black;
  	background: url('eightball.png');
  	background-position: center;
  	background-repeat: no-repeat;
  	background-size: contain;
  	height:100%;
  	width: 100%; 
}

#question{
	 border: 0.4em dotted gray; 
	 border-radius: 1em;
	 height: 1.4em;
	 font-size: 1em;
	 width: 12em;
	 z-index: 2;
	 margin-left: 10%;
	 margin-top: 10%;
	 position: absolute;
	 float:left;
	 display: block;
}

#ask{
	border: 0.2em dotted gray; 
	border-radius: 1em;
	height: 3em;
	background: white;
	margin-left: 2%;
	margin-top: 10%;	
	z-index: 2;
	position: absolute;
	float: left;
	display: inline-block;

}