h1 {
	color: white;
	text-shadow: #EEEE00 0 0 10px;
	filter: glow(color=#EEEE00,strength=3);
}

body {
	background: url('bg.gif');
	background-repeat: repeat;
}

#answer {
	display: table-cell; 
  	vertical-align: middle; 
  	text-align: center;
	z-index: 1;
	font-size: 0.6em;
	font-family: Helvetica;
	color: white;
}

#eightball{
	float:right;
	position: absolute;
	z-index: 1;
	width: 100%;
}

.col-sm-12 {
	position: absolute;
  	display: table;
  	background-color: black;
  	background: url('eightball.png');
  	background-position: center;
  	background-repeat: no-repeat;
  	background-size: contain;
  	height:100%;
  	width: 100%; 
}

